{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container_form">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1>Connexion</h1>
            <div class="form">
                <div class="group_form email">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="off" required>
                </div>
                <div class="group_form password">
                    <div>
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="off" required>
                    </div>
                </div>

                <div class="group_btn">
                    <button class="btn" type="submit" id="registration_register" name="registration[register]">Connexion<i></i></button>
                    <p class="connect">Vous n'avez pas de compte ? <a href="{{ path('app_login') }}">Inscrivez vous !</a></p>
                </div>
                <div class="remember">
                    <label class="check">
                        <input class="input_check" type="checkbox" name="_remember_me">
                        Réster connecter
                    </label>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </form>
    </div>

{% endblock %}
