/* Styles pour la barre de navigation */
nav {
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 1px 10px rgba(33, 33, 33, 0.47);
}

/* Styles pour le logo de la barre de navigation */
nav .navbar_brand {
    display: flex;
    align-items: center;
    height: 95px;
}

/* Styles pour l'image du logo de la barre de navigation */
nav .navbar_brand img {
    height: 100%;
    width: 120px;
}

/* Styles pour la navigation principale de la barre de navigation */
nav .navbar_nav {
    display: flex;
    align-items: center;
    width: calc(100% - 120px);
    justify-content: center;
    margin-right: 105px;
    font-size: 20px;
    position: relative;
}

/* Styles pour les éléments de navigation de la barre de navigation */
nav .nav_item {
    margin: 15px;
    position: relative;
}

/* Styles pour le trait qui apparaît en dessous du texte de chaque élément de navigation au survol */
nav .nav_item a:not(.nav_item.icon a):before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background: var(--couleur-accent-fonce);
    width: 100%;
    height: 2px;
    transform: scale(0%);
    transition: 300ms ease-in-out;
}

/* Styles pour le trait qui apparaît en dessous du texte de chaque élément de navigation au survol */
nav .nav_item a:hover:not(.nav_item.icon a, .dropdown_menu a):before {
    transform: scale(100%);
    transition: 300ms ease-in-out;
}

/* Styles pour le bouton qui apparaît dans certains éléments de navigation */
nav .nav_item .btn_navbar:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background: var(--couleur-accent-fonce);
    width: 100%;
    height: 2px;
    transform: scale(0%);
    transition: 300ms ease-in-out;
}

/* Styles pour le trait qui apparaît en dessous du bouton de certains éléments de navigation au survol */
nav .nav_item .btn_navbar:hover:before,
nav .nav_item .btn_navbar:focus:before {
    transform: scale(100%);
    transition: 300ms ease-in-out;
}

/* Styles pour les éléments de navigation qui contiennent des icônes */
nav .nav_item.icon {
    position: absolute;
    right: -60px;
    margin: 0;
    display: flex;
    gap: 5px;
    align-items: center;
}

/* Styles pour les menus déroulants de la navigation */
nav .navbar_nav .nav_item .dropdown_menu {
    display: none;
    position: absolute;
    background: var(--couleur-fond);
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.47);
    border-radius: 10px;
    z-index: 1;
}

/* Styling pour les éléments de menu déroulant de la barre de navigation */
nav .navbar_nav .nav_item .dropdown_menu.category li{
    margin: 7px;
}

/* Affichage des éléments de menu déroulant actifs */
nav .navbar_nav .nav_item .dropdown_menu.active{
    display: block;
}

/* Styling pour le menu déroulant de la catégorie */
.dropdown_menu.category{
    margin-left: 7px;
    top: 50px;
    width: 200px;
    padding: 10px;
}

/* Flèche vers le haut pour le menu déroulant de la catégorie */
.dropdown_menu.category:after{
    content: "▲";
    color: var(--couleur-texte-secondaire);
    position: absolute;
    top: -18px;
    z-index: -1;
}

/* Styling pour le menu déroulant du profil */
.dropdown_menu.profile{
    right: 29px;
    top: 40px;
    width: 180px;
    padding: 5px;
}

/* Styling pour le menu déroulant de déconnexion */
.dropdown_menu.logout{
    right: -4px;
    top: 40px;
    width: 180px;
    padding: 5px;
}

/* Flèche vers le haut pour le menu déroulant de déconnexion */
.dropdown_menu.logout:after{
    content: "▲";
    color: var(--couleur-texte-secondaire);
    position: absolute;
    top: -18px;
    left: 150px;
}

/* Flèche vers le haut pour le menu déroulant du profil */
.dropdown_menu.profile:after{
    content: "▲";
    color: var(--couleur-texte-secondaire);
    position: absolute;
    top: -18px;
    left: 120px;
}

/* Styling pour le bouton de profil */
.btn_profile{
    display: flex;
    gap: 5px;
    align-items: center;
}

/* Bouton pour l'affichage du menu sur les appareils mobiles */
.btn_mobil{
    display: none;
}

/* Media query pour l'affichage du bouton de menu sur les appareils mobiles */
@media (max-width: 1000px) {
    /* Styling pour le bouton de menu mobile */
    .btn_mobil.mobil_icon{
        position: absolute;
        right: -60px;
        margin: 0;
        font-size: 25px;
    }

    /* Icône "X" pour le bouton de menu mobile */
    i.fa-xmark{
        display: none;
    }

    /* Affichage du bouton de menu mobile */
    .btn_mobil{
        display: block;
    }

    /* Masquer les éléments de menu déroulant sur les appareils mobiles */
    nav .nav_item{
        display: none;
    }
}