/* Réinitialisation CSS */

/* Remise à zéro des marges et des rembourrages */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Éléments de type de bloc génériques */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Éléments en ligne génériques */
div, span {
    display: inline;
}

/* Éléments à liste */
ul, ol {
    list-style: none;
}

/* Éléments d'hyperliens non visités */
a {
    text-decoration: none;
}

/* Éléments d'hyperliens visités */
a:visited {
    text-decoration: none;
}

/* Éléments d'hyperliens au survol de la souris */
a:hover {
    text-decoration: none;
}

/* Éléments d'hyperliens sélectionnés */
a:active {
    text-decoration: none;
}

/* Remise à zéro des styles de police */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* Remise à zéro des styles de formulaires */
input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}


/* Remise à zéro des éléments de formulaire cachés */
[hidden] {
    display: none;
}